{% extends "base.html" %}
{% block extra_title %}| Profile {% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid header-container pt-2 pb-2">
    <div class="row px-5">
        <div class="col">
            <h1 class="header-font pl-5 m-2">My Profile</h1>
        </div>
    </div>
</div>
<div class="container p-4">
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-muted">Default Delivery Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-white rounded-0 text-uppercase float-right">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-muted">Order History</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {{ item.product.name }} x{{ item.quantity }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>${{ order.grand_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% if testimonials %}
<div class="container p-4">
    <h5 class="text-white">My Testimonials</h5>
    <div class="row">
        <div class="col-12 col-lg-6 text-white border-white pt-3 pb-3">
            {% for testimonial in testimonials %}
            <div class="testimonial-heading d-flex p-1">
                <p class="text-capitalize"><i class="fas fa-user mr-1"></i>
                    {% if testimonial.full_name %}
                    {{ testimonial.full_name }}
                    ({{ testimonial.user.username }})
                    {% else %}
                    {{ testimonial.user.username }}
                    {% endif %}
                </p>
                <p class="ml-4 mr-4"><i class="fas fa-clock mr-1"></i>{{ testimonial.created_at }}</p>
                <div>
                    <i class="fas fa-star {% if testimonial.rate > 4 %} checked {% endif %}" style="float: right;"></i>
                    <i class="fas fa-star {% if testimonial.rate > 3 %} checked {% endif %}" style="float: right;"></i>
                    <i class="fas fa-star {% if testimonial.rate > 2 %} checked {% endif %}" style="float: right;"></i>
                    <i class="fas fa-star {% if testimonial.rate > 1 %} checked {% endif %}" style="float: right;"></i>
                    <i class="fas fa-star {% if testimonial.rate > 0 %} checked {% endif %}" style="float: right;"></i>
                </div>
            </div>
            <div class="testimonial-body">
                <p>{{ testimonial.comment }}</p>
            </div>
            <div>
                <a href="{% url 'edit_testimonial' testimonial.id %}">Edit</a> | 
                <a href="{% url 'delete_testimonial' testimonial.id %}" class="text-danger">Delete</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js'%}"></script>
{% endblock %}