{% extends "base.html" %}
{% load static %}
{% block extra_title %}| About {% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid header-container pt-2 pb-2">
    <div class="row px-5">
        <div class="col">
            <h1 class="header-font pl-5 m-2">About</h1>
        </div>
    </div>
</div>
<div class="container p-4">
    <div class="row">
        <div class="col-12 col-md-6 about-left-column">
            <h1 class="text-uppercase text-white display-4">
                Vlad Braga</h1>
        </div>
        <div class="col-12 col-md-6 about-right-column">
            <p class="h5 text-white text-align-left mb-3">
                Vlad Braga is one of Cluj-Napoca's most trusted and acclaimed photographers.
            </p>
            <p class="h5 text-white text-align-left mb-3">
                Vlad established his style as a portraitist in the late 2010s—seeking to capture people's honesty.
            </p>
            <p class="h5 text-white text-align-left mb-3">
                In addition to his prodigious photographic output, Vlad is also a documentarian, principally with
                his 'photo reportage' documentaries of different people and places from his motherland, Romania.
            </p>
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <img src="{% static 'images/about1.jpg' %}" class="d-block w-100 img-fluid pt-4" alt="">
                    </div>
                    <div class="col-12 col-md-6">
                        <img src="{% static 'images/about2.jpg' %}" class="d-block w-75 img-fluid pb-2" alt="">
                        <div class="d-flex justify-content-end">
                        <img src="{% static 'images/about3.jpg' %}" class="d-block w-75 img-fluid pt-3" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}